<%= form_with model: kitten do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age, in: 1..40 %>
  </div>

  <div>
    <%= form.label :cuteness %><br>
    <%= form.number_field :cuteness, in: 1..10 %>
  </div>

  <div>
    <%= form.label :softness %><br>
    <%= form.number_field :softness, in: 1..10 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>