<h1><%= @kitten.name %></h1>
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>

<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>

<ul>
  <li><%= link_to "Edit", edit_kitten_path(@kitten) %></li>
  <li><%= link_to "Destroy", kitten_path(@kitten),
    data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
    } %></li>
  <li><%= link_to 'Back to Index', root_path %></li>
</ul>